<h1>Welcome to ember-django-testbed</h1>

<p>A demonstration of using <a href='http://emberjs.com/Emberjs'>Emberjs</a> as the front end to a <a href='https://www.djangoproject.com'>Django</a> backend.</p>


{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}
